/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/*---------------=--
 my hedding styles
--------------------
 */
 nav{
    display: flex;
     width: 1440px;
     height: 94px;
     background: #562EFF;
 }
 
 
 nav .nav-logo img{
     height: 51px;
     width: 41px;
     color: #FFFFFF;
     position: absolute;
     padding-left: 285px;
    padding-top: 30px;
 }
 nav .nav-logo h2{
     position: absolute;
     width: 54px;
     height: 36px;
     padding-left: 342px;
     padding-top: 33px;
     font-size: 24px;
     color: #FFFFFF;
     text-align: center;
     margin: 7px;
       
 }
 .button:hover a{
    background-color: rgb(114, 245, 245);
    font-weight: 700;
    color:black;
    border-radius: 5px;
    padding:5px;
    transition: 2s;

 }
 .button{
     padding-left: 800px;
     padding-top: 35px;
     font-weight: 700;
    
 }
 .button a{
     text-decoration: none;
     font-size: 16px;
     width: 48px;
     height: 24px;
     color:#FFFFFF;
    margin: 7px;
    
     
 }
 .button img{
    position: absolute;
    width: 51px;
    height: 51px;
    left: 1050px;
    top: 23px;
    margin: 7px;
 }
 /* my hedding styles end*/
main{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.contaier{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;

}
hr{
    boreder:1px solid #D1D1D1;
    margin-bottom:  27px;
}

/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap:30px;


}
.player{
    display: flex;
    align-items: center;

}
.player img{
    width: 56px;
    height: 56px;

}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* -------------
top blog styles 
------------------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog .thumblnail img{
    width: 177px;
    height: 117px;
}
.bolog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;

}
.blog-author{
    color: #9F9F9F;
    font-size: 16PX;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}
/* ------------
courses styles--
----------------
 */
 .courses{
     display: grid;
     grid-template-columns: repeat(3,1fr);
 }
 .course{
    
    box-sizing: border-box;
    box-shadow:gainsboro;
    margin: 5px;
 }
 .course .crouse-banner img{
     width: 224px;
     height: 104px;
 }
 .course-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
   
 }
 .crouse-duration{
     background-color: aquamarine;
     border-radius: 30px;
     padding: 5px;
 }
 .fa-clock{
     color: rgb(236, 99, 168);
 }
 
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
     color: #FFC014;
 }
 .fa-star.empty{
     color: grey;
 }
 /* Media Queries */


 /* Mobail Devices */
 @media only screen and (max-width:688px) {
    .contaier{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
 }
 /* tablet devices */
 @media only screen and (min-width:688px) and 
 (max-width:992px) {
        .contaier{
            width: 100%;
        }
        .players, .blogs, .courses{
            grid-template-columns: repeat(2,1fr);
        }
        
 }